Source: python-seed
Build-Depends: coreutils, debhelper, git
Section: extra
Priority: optional
Maintainer: Igor Shishkin <ishishkin@mirantis.com>

Package: python-django-seed
Section: extra
Priority: optional
Architecture: any
Depends: python-django (>= 1.5), uwsgi, uwsgi-plugin-python, python-transmissionrpc (>= 0.11), transmission-daemon, nginx, nginx-full, nginx-common, mktorrent
Description: Django application to add data to transmission via its RPC
 .

Package: python-seed-client
Section: extra
Priority: optional
Architecture: any
Depends: python-transmissionrpc (>= 0.11), transmission-daemon, python-requests
Description: Client for python-django-seed
 .

Package: python-seed-cleaner
Section: extra
Priority: optional
Architecture: any
Depends: python-transmissionrpc (>= 0.11), transmission-daemon
Description: Cleaner for old data in transmission daemon
 .
